<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Coil / Catridge</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script src="js/garuda.js"></script>
    
	<link rel="icon" type="image/x-icon" href="favicon.ico">
</head>

<body>

    <nav class="demo">
        <a href="." class="brand">
            <img class="logo" src="smok.jpg" />
            <span>Vape Calculator</span>
        </a>

        <!-- responsive-->
        <input id="bmenub" type="checkbox" class="show">
        <label for="bmenub" class="burger pseudo button">
            <i class="icon-reorder"></i>
        </label>

        <div class="menu">
            <a href="./index.html" class="pseudo button icon-tint">Items</a>
            <a href="./liquid.html" class="pseudo button icon-tint">Liquid</a>
            <a href="./coil.html" class="pseudo button icon-tint">Coil/Catridge</a>
            <a href="https://github.com/lamhotsimamora/hitung-biaya-vape" target="_blank" 
            class="pseudo button icon-github">Github</a>
        
        </div>
    </nav>
    <br><br>
    <hr><br>
    <div class="container" id="app">
        <article class="card">
            <header>
                <center>
                   
                    <button class="icon-plus" @click="openModal">New</button> |
                    
                    <button class="warning" @click="resetItem">Reset</button>
                  
                </center>
            </header>
            <footer>
                <center>
                    <h4>Data Coil / Catridge</h4>
                    <table class="error">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>Nama</th>
                                <th>
                                    @
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="(data,i) in data_coil">
                                <td>{{i=i+1}}</td>
                                <td>{{data}}</td>
                                <td>
                                    <button class="error" @click="deleteData(data)">x</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </center>
            </footer>
        </article>

    </div>

    <div class="modal" id="modal_new">
        <input id="modal_add" type="checkbox" />
        <label for="modal_add" class="overlay"></label>
        <article>
            <header>
                <h3>New Data Coil / Catridge</h3>
                <label for="modal_add" class="close">&times;</label>
            </header>
            <section class="content">
                <fieldset class="flex">
                    <label><input @keypress="enterSave" v-model="nama_coil" ref="nama_coil" type="text" placeholder="Nama Coil"></label>
                </fieldset>
            </section>
            <footer>
                <a class="button" @click="save">Save</a>
                <label for="modal_add" class="button dangerous">
                    x
                </label>
            </footer>
        </article>
    </div>

    <script src="js/storage.js"></script>
    <script src="js/coil.js"></script>
</body>

</html>